openapi: 3.0.0
info:
  description: |-
    Open Api Specifications available at [https://github.com/factorialco/oas](https://github.com/factorialco/oasLooking)

    Guides and support available at [https://help.factorialhr.com/integrations](https://help.factorialhr.com/integrations)

    # Authentication

    The public API provides two methods of authentication, ApiKeys and OAuth2. The following sections provide information regarding each one and their intent.

    ## OAuth2

    > OAuth2 is used to identify individual users, not applications or platforms.

    OAuth2 is available for authenticating to the public API and making requests via third parties **on behalf of a user**. All actions are authored on behalf of the user that creates the token. This means the intent is to be used mainly to do submit actions the actual user is performing on an alternative interface.

    To generate a token you will require opening an authorization dialog that returns a code, this code can then be exchanged for a token.

    ### Configuration

    In order to create an OAuth application, you must be an admin, head over to your [personal repository of OAuth applications](https://api.factorialhr.com/oauth/applications), click on `New application` and follow the creation process.

    The Factorial API enforces the same permissions at the user level than the Factorial web application. This means that Factorial API users will only be able to perform the same actions they are allowed to do in the Factorial platform.

    Next step will be to generate the Authorization Code you will need in order to generate an OAuth2 Token.

    ### OAuth2 Code Generation

    Should be generated via browser by opening the following url. The user should be already logged in to Factorial beforehand.

    `https://api.factorialhr.com/oauth/authorize?client_id=&redirect_uri=&response_type=code&scope=`

    YOUR_CLIENT_ID: OAuth2 Application Id
    REDIRECT_URI: OAuth2 Redirect URL

    #### State Parameter

    An optional query parameter called `state` can be added to the code generation url. Any string can be used and will be sent on the callback url.

    > Authorization protocols provide a `state` parameter that allows you to restore the previous state of your application. The `state` parameter preserves some state objects set by the client in the Authorization request and makes it available to the client in the response.

    ### OAuth2 Token Generation

    Once you have the authorization code, you can request their access token to Factorial.

    `curl -X POST 'https://api.factorialhr.com/oauth/token' -d 'client_id=&client_secret=&code=&grant_type=authorization_code&redirect_uri='`

    YOUR_CLIENT_ID: OAuth2 Application Id
    YOUR_CLIENT_SECRET: OAuth2 Application Secret
    AUTHORIZATION_CODE: OAuth2 CODE
    REDIRECT_URI: OAuth2 Redirect URL

    > You can generate only one OAuth2 token per Code, that means that if you want to generate a new token for a Code that already have one you should refresh your token.

    Every time a new token is generated a refresh token is generated as well, so that you can use it on the OAuth2 Refresh Token, and an expire date is also provided.

    ### OAuth2 Refresh Token

    You can generate a new token under the same Code with a new expire date (you can do it as many times as you need). A refresh token is also returned here so that you can use it on the OAuth2 Refresh Token again.

    `curl -X POST 'https://api.factorialhr.com/oauth/token' -d 'client_id=&client_secret=&refresh_token=&grant_type=refresh_token'`

    YOUR_CLIENT_ID: OAuth2 Application Id
    YOUR_CLIENT_SECRET: OAuth2 Application Secret
    REFRESH_TOKEN: OAuth2 Refresh Token

    ### OAuth2 Revoke Token

    You can revoke an access/refresh token if you do not want it to be active anylonger. This can happen in cases where you have refreshed your token and would like to revoke the previous token if you haven't used the new token yet, as using the new token automatically revokes the previous one.

    `curl -X POST 'https://api.factorialhr.com/oauth/revoke' -d 'client_id=&client_secret=&token='`

    YOUR_CLIENT_ID: OAuth2 Application Id
    YOUR_CLIENT_SECRET: OAuth2 Application Secret
    TOKEN: OAuth2 Access/Refresh Token (whichever you wish to revoke)

    ### OAuth2 Token Usage

    The generated token is the credential for performing authenticated requests to Factorial. This token should be included in the Authorization header prefixed with the word Bearer and a separating space.
    As an example, if your token is `12345` then the header content should be `Bearer 12345`.

    ### Maintaining a persistent connection

    To maintain a persistent connection, you should not let the token expire. You can avoid this by simply refreshing your token before the expiration date. This will give you another token with a new expiration date, before that token expires you should refresh it again, and so on...
    If you want to do this automatically, you should provide something in your code that will help you perform the update every time the token expires. Otherwise, you would have to do the update manually and make sure you refresh your token before the expiration date to maintain the connection.

    ## ApiKeys

    > API keys are used to identify systems, not the individual users that access.

    ApiKeys have **TOTAL ACCESS** to everything and never expire. Its the creators responsibility to generate them and store them securely.

    ### Generation

    In the `Core>Keys` section of this documentation you can access the apis for managing this resource.

    ### Usage

    ApiKeys are a single string of symbols that must be added as a custom header on the request. The header name must be `x-api-key` and the key must be the value without any prefixes.

    ### Disclaimer

    ApiKey management require full admin permissions as the resource itself allows for full admin access to the entire platform on behalf of the company and not of a user, therefore any operations are not linked to any user in particular.

    # Development

    ## SDKs

    Coming soon

    ## Sandbox

    A sandbox/demo environment is available for testing integrations via public API calls. Developers can request provisioning with full access to a demo company where to test code before actually interacting with a production environment.

    Contact your account manager or account executive to request this environment and get OAuth2 credentials for generating tokens.

    Note: the domain for sandbox is different than that from production. Sandbox base domain is `http://api.demo.factorialhr.com`

    ## Postman

    Click the "Run in Postman" button to open the full list of endpoints on your Postman workspace as a Postman Collection.
    Inside the collection lookout for the Collection's Variables, configure your variables accordingly.

    ### Delegating Token Generation To Postman

    Coming soon

    # Changelog

    Coming soon

    # How to...

    ## Custom Fields

    Custom fields are useful when you want to add some fields that are not the default ones, to every employee of the company.

    For that, you have to create via Factorial App the base custom field in order to have all the employees with it. That option is available in customization, inside the company menu

    Once you have that, via API, you can [Create a value for a custom field](https://apidoc.factorialhr.com/#72f3f786-e37d-4e80-ada2-0beedd03b171) to each employee. You should know the custom field id in order to make that, you can check it by [getting a collection of custom fields](https://apidoc.factorialhr.com/#f98dae5a-a8d0-474e-a181-7e9603409b42)
  title: Factorial API
  version: 1.0.0
  x-konfig-ignore:
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
  x-konfig-uses-multipart-form-data: true
servers:
- url: https://api.factorialhr.com/api
- url: https://api.demo.factorial.dev/api
security:
- oauth2: []
tags:
- name: Employee
- name: Leave
- name: Shift
- name: Task
- name: Post
- name: Team
- name: Webhook
- name: Document
- name: Workplace
- name: Compensation
- name: Folder
- name: CustomField
- name: Candidate
- name: Table
- name: Supplement
- name: CustomFieldValue
- name: Key
- name: User
- name: Location
- name: Break
- name: Attendance
- name: ContractVersion
- name: Integration
- name: Contract
- name: Message
- name: Policy
- name: Holiday
- name: Expense
- name: Application
- name: Taxonomy
- name: LegalEntity
- name: FamilySituation
- name: Event
- name: CustomTable
- name: IntegrationCode
paths:
  /v1/employees:
    get:
      description: "Only `admins` can see all the employees' information, `regular\
        \ users` will get a restricted version of the payload as a response based\
        \ on the permission set by the admin"
      operationId: Employee_getEmployees
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeGetEmployeesResponse'
          description: OK
      security:
      - apikey: []
      summary: Get employees from a company
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees
      x-accepts: application/json
    post:
      description: Create employee
      operationId: Employee_createEmployee
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeCreateEmployeeRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
          description: Created
      summary: Create employee
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-employees
      x-content-type: application/json
      x-accepts: application/json
  /v1/employees/{id}:
    get:
      description: "Only admins can see all the employees' information, regular users\
        \ will get a restricted version of the payload as a response based on the\
        \ permission set by the admin"
      operationId: Employee_getEmployeeById
      parameters:
      - description: (Required)
        example: 5
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 5
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
          description: OK
      summary: Get employee
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-id
      x-accepts: application/json
    put:
      description: Update employee
      operationId: Employee_updateById
      parameters:
      - description: (Required)
        example: 5
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateByIdRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
          description: OK
      summary: Update employee
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-employees-id
      x-content-type: application/json
      x-accepts: application/json
  /v1/employees/{id}/terminate:
    post:
      description: Terminate employee
      operationId: Employee_terminateEmployee
      parameters:
      - description: (Required)
        example: 5
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeTerminateEmployeeRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
          description: OK
      summary: Terminate employee
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-employees-id-terminate
      x-content-type: application/json
      x-accepts: application/json
  /v1/employees/{id}/unterminate:
    post:
      description: Unterminate employee
      operationId: Employee_unterminateEmployee
      parameters:
      - description: (Required)
        example: 5
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 5
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
          description: OK
      summary: Unterminate employee
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-employees-id-unterminate
      x-accepts: application/json
  /v2/core/employees:
    get:
      description: "Only `admins` can see all the employees' information, `regular\
        \ users` will get a restricted version of the payload as a response based\
        \ on the permission set by the admin"
      operationId: Employee_getAllEmployees
      parameters:
      - description: Retrieves the list of employees by full names
        example: Bob Stone
        explode: true
        in: query
        name: full_text_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Bob Stone
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeGetAllEmployeesResponse'
          description: OK
      security:
      - apikey: []
      summary: Get employees from a company
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-core-employees
      x-accepts: application/json
    post:
      description: Create employee
      operationId: Employee_createNew
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeCreateNewRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee_v2'
          description: Created
      security:
      - apikey: []
      summary: Create employee
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-core-employees
      x-content-type: application/json
      x-accepts: application/json
  /v2/core/employees/{id}:
    get:
      description: "Only admins can see all the employees' information, regular users\
        \ will get a restricted version of the payload as a response based on the\
        \ permission set by the admin"
      operationId: Employee_getById
      parameters:
      - description: (Required)
        example: 5
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 5
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee_v2'
          description: OK
      security:
      - apikey: []
      summary: Get employee
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-core-employees-id
      x-accepts: application/json
    put:
      description: Update employee
      operationId: Employee_updateEmployeeById
      parameters:
      - description: (Required)
        example: 5
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateEmployeeByIdRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee_v2'
          description: OK
      security:
      - apikey: []
      summary: Update employee
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v2-core-employees-id
      x-content-type: application/json
      x-accepts: application/json
  /v2/core/employees/{id}/invite:
    post:
      description: When inviting an employee an email is sent to their email. You
        can resend the email as long as the employee has not accepted the invitation
        yet.
      operationId: Employee_sendInvitationEmail
      parameters:
      - description: (Required)
        example: 5
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 5
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee_v2'
          description: OK
      security:
      - apikey: []
      summary: Invite employee
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-core-employees-id-invite
      x-accepts: application/json
  /v2/core/employees/{id}/email:
    put:
      description: Changes the email only if the employee has not been confirmed and
        it does not exist another employee with the requested email.
      operationId: Employee_changeEmail
      parameters:
      - description: (Required)
        example: 5
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeChangeEmailRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee_v2'
          description: OK
      security:
      - apikey: []
      summary: Change employee email
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v2-core-employees-id-email
      x-content-type: application/json
      x-accepts: application/json
  /v2/core/employees/{id}/terminate:
    post:
      description: Set the termination date and other termination related parameters
        for an employee. The employee will finally terminate on the date provided.
      operationId: Employee_setTerminationDetails
      parameters:
      - description: (Required)
        example: 5
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeSetTerminationDetailsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee_v2'
          description: OK
      security:
      - apikey: []
      summary: Terminate employee
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-core-employees-id-terminate
      x-content-type: application/json
      x-accepts: application/json
  /v2/core/employees/{id}/unterminate:
    post:
      description: Unterminate the employee
      operationId: Employee_unterminatePost
      parameters:
      - description: (Required)
        example: 5
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 5
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee_v2'
          description: OK
      security:
      - apikey: []
      summary: Unterminate employee
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-core-employees-id-unterminate
      x-accepts: application/json
  /v2/core/webhooks:
    get:
      description: Get a list of all subscribed webhooks for current user
      operationId: User_subscribedWebhooksList
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSubscribedWebhooksListResponse'
          description: OK
      security:
      - apikey: []
      summary: Get a list of all subscribed webhooks for current user
      tags:
      - User
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-core-webhooks
      x-accepts: application/json
    post:
      description: |-
        > Creates a subscription for a determined webhook type. If webhook already exists, it just changes the target_url.

         ## Webhooks Types

        | **Subscription Type** | **Information** |
        | --- | --- |
        | Authentication::Events::AccessInvited | When creating a new employee, optionally you can send an invitation to create an account in Factorial. If you send an invitation, this event gets triggered. |
        | Employees::Events::EmployeeCreated | When creating a new employee, after submitting the form, this event gets triggered. |
        | Employees::Events::EmployeeUpdated| When updating personal protected employee information such has birthday, this event gets triggered. |
        | Employees::Events::EmployeeTerminated | When terminating an employee, after submitting the form, this event gets triggered |
        | Employees::Events::EmployeeUnterminated | When un terminating an employee, after submitting the form, this event gets triggered |
        | Attendance::Events::ClockIn | When the user clocks in and starts the timer, this event is triggered. |
        | Attendance::Events::ClockOut | When the user clocks out and stops the timer, this event is triggered |
        | Attendance::Events::AttendanceShiftCreated | When the user creates a shift, this event is triggered |
        | Attendance::Events::AttendanceShiftUpdated | When the user edits a shift, this event is triggered |
        | Attendance::Events::AttendanceShiftDeleted | When the user deletes a shift, this event is triggered |
        | Ats::Events::ApplicationCreated | When a candidate applies for a posting. |
        | Ats::Events::ApplicationUpdated | When a candidates application for a posting suffers changes. |
        | Ats::Events::JobPostingCreated | When a job posting is created. |
        | Ats::Events::JobPostingUpdated | When a job posting is updated. |
        | Ats::Events::JobPostingDeleted | When a job posting is deleted. |
        | Timeoff::Events::LeaveCreated | When a Timeoff Leave is created. |
        | Timeoff::Events::LeaveDestroyed | When a Timeoff Leave is destroyed. |
        | Timeoff::Events::LeaveUpdated | When a Timeoff Leave suffers any changes. |
        | Timeoff::Events::LeaveApproved | When a Timeoff Leave is explicitly approved. |
        | Timeoff::Events::LeaveRejected | When a Timeoff Leave is rejected. |
        | Documents::Events::Created | When a document is created. |
        | Tasks::Events::Created | When a task is created. |
        | Contracts::Events::ContractVersionCreated | When a contract version is created. |
        | Payroll::Events::SupplementCreated | When a payroll supplement is created. |
        | Payroll::Events::SupplementUpdated | When a payroll supplement is updated. |
        | Payroll::Events::SupplementDeleted | When a payroll supplement is deleted. |
      operationId: Webhook_subscriptionCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscriptionCreateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionCreateResponse'
          description: OK
      security:
      - apikey: []
      summary: Create a webhook
      tags:
      - Webhook
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-core-webhooks
      x-content-type: application/json
      x-accepts: application/json
  /v2/core/webhooks/{id}:
    delete:
      description: Delete a Webook
      operationId: Webhook_deleteWebhook
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook_v2'
          description: OK
      security:
      - apikey: []
      summary: Delete a Webhook
      tags:
      - Webhook
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v2-core-webhooks-id
      x-accepts: application/json
    put:
      description: Update a Webook
      operationId: Webhook_updateWebhookById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateWebhookByIdRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook_v2'
          description: OK
      security:
      - apikey: []
      summary: Update a Webhook
      tags:
      - Webhook
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v2-core-webhooks-id
      x-content-type: application/json
      x-accepts: application/json
  /v1/me:
    get:
      description: "After token grant, get information of the token holder"
      operationId: User_infoGet
      responses:
        "200":
          description: OK
      summary: Get information about current user
      tags:
      - User
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-me
      x-accepts: application/json
  /v1/locations:
    get:
      description: Get all locations
      operationId: Location_getAllLocations
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationGetAllLocationsResponse'
          description: OK
      security:
      - apikey: []
      summary: Get all locations
      tags:
      - Location
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-locations
      x-accepts: application/json
  /v1/locations/{id}:
    get:
      description: Get a Location by ID
      operationId: Location_getById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: OK
      security:
      - apikey: []
      summary: Get a Location by ID
      tags:
      - Location
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-locations-id
      x-accepts: application/json
  /v1/company_holidays:
    get:
      description: Get all company holidays
      operationId: Holiday_getAllCompanyHolidays
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HolidayGetAllCompanyHolidaysResponse'
          description: OK
      security:
      - apikey: []
      summary: Get all company holidays
      tags:
      - Holiday
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-company_holidays
      x-accepts: application/json
  /v1/company_holidays/{id}:
    get:
      description: Get a company holiday by ID
      operationId: Holiday_getById
      parameters:
      - description: (Required)
        example: 5
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 5
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyHoliday'
          description: OK
      security:
      - apikey: []
      summary: Get a company holiday by ID
      tags:
      - Holiday
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-company_holidays-id
      x-accepts: application/json
  /v1/core/teams:
    get:
      description: Get teams
      operationId: Team_getAllTeams
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamGetAllTeamsResponse'
          description: OK
      security:
      - apikey: []
      summary: Get teams
      tags:
      - Team
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-core-teams
      x-accepts: application/json
    post:
      description: Create a team with a given name
      operationId: Team_createNewTeam
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamCreateNewTeamRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
          description: Created
      security:
      - apikey: []
      summary: Create a team
      tags:
      - Team
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-core-teams
      x-content-type: application/json
      x-accepts: application/json
  /v1/core/teams/{id}:
    delete:
      description: Delete a team
      operationId: Team_removeTeam
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
          description: OK
      security:
      - apikey: []
      summary: Delete a team
      tags:
      - Team
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-core-teams-id
      x-accepts: application/json
    get:
      description: Get a team by ID
      operationId: Team_getById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamGetByIdResponse'
          description: OK
      security:
      - apikey: []
      summary: Get a team by ID
      tags:
      - Team
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-core-teams-id
      x-accepts: application/json
    put:
      description: Update a team
      operationId: Team_updateTeamById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamUpdateTeamByIdRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
          description: OK
      security:
      - apikey: []
      summary: Update a team
      tags:
      - Team
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-core-teams-id
      x-content-type: application/json
      x-accepts: application/json
  /v1/core/teams/{id}/employees/{employee_id}:
    delete:
      description: Unassign employee to team
      operationId: Employee_unassignToTeam
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      - description: (Required)
        example: 5
        explode: false
        in: path
        name: employee_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 5
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
          description: OK
      security:
      - apikey: []
      summary: Unassign employee to team
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-core-teams-id-employees-employee_id
      x-accepts: application/json
    post:
      description: Assign an employee to a team
      operationId: Employee_assignToTeam
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: employee_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
          description: OK
      security:
      - apikey: []
      summary: Assign an employee to a team
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-core-teams-id-employees-employee_id
      x-accepts: application/json
    put:
      description: Update an employee in a team
      operationId: Employee_updateInTeam
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: employee_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateInTeamRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
          description: OK
      security:
      - apikey: []
      summary: Update an employee in a team
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-core-teams-id-employees-employee_id
      x-content-type: application/json
      x-accepts: application/json
  /v1/core/folders:
    get:
      description: Get Folders by given name and active status
      operationId: Folder_getByNameAndStatus
      parameters:
      - description: Retrieves the list of folder by name
        example: payment
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: payment
      - description: Retrieves the list of employees by active status
        example: "true"
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: "true"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderGetByNameAndStatusResponse'
          description: OK
      security:
      - apikey: []
      summary: Get Folders
      tags:
      - Folder
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-core-folders
      x-accepts: application/json
    post:
      description: Create a Folders with a given name and active status
      operationId: Folder_createNewFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderCreateNewFolderRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderCreateNewFolderResponse'
          description: OK
      security:
      - apikey: []
      summary: Create a Folder
      tags:
      - Folder
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-core-folders
      x-content-type: application/json
      x-accepts: application/json
  /v1/core/folders/{id}:
    get:
      description: Get a Folder by ID
      operationId: Folder_getById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
          description: OK
      security:
      - apikey: []
      summary: Get a Folder by ID
      tags:
      - Folder
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-core-folders-id
      x-accepts: application/json
    put:
      description: Update a folder
      operationId: Folder_updateFolderById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderUpdateFolderByIdRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
          description: OK
      security:
      - apikey: []
      summary: Update a folder
      tags:
      - Folder
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-core-folders-id
      x-content-type: application/json
      x-accepts: application/json
  /v1/core/documents:
    get:
      description: Get a collection of Documents given an employee or a folder
      operationId: Document_listGivenEmployeeOrFolder
      parameters:
      - description: Retrieves the list of documents by employee id
        example: 1
        explode: true
        in: query
        name: employee_id
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 1
      - description: Retrieves the list of documents by folder id
        example: 1
        explode: true
        in: query
        name: folder_id
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentListGivenEmployeeOrFolderResponse'
          description: OK
      security:
      - apikey: []
      summary: Get a collection of Documents
      tags:
      - Document
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-core-documents
      x-accepts: application/json
    post:
      description: Create a Document
      operationId: Document_createNewDocument
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentCreateNewDocumentRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: Created
      security:
      - apikey: []
      summary: Create a Document
      tags:
      - Document
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-core-documents
      x-content-type: multipart/form-data
      x-accepts: application/json
  /v1/core/documents/{id}:
    delete:
      description: Delete a Document by ID
      operationId: Document_deleteById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: OK
      security:
      - apikey: []
      summary: Delete a Document by ID
      tags:
      - Document
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-core-documents-id
      x-accepts: application/json
    get:
      description: Get a Document by ID
      operationId: Document_getById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: OK
      security:
      - apikey: []
      summary: Get a Document by ID
      tags:
      - Document
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-core-documents-id
      x-accepts: application/json
    put:
      description: Update a Document by ID
      operationId: Document_updateById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentUpdateByIdRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: OK
      security:
      - apikey: []
      summary: Update a Document by ID
      tags:
      - Document
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-core-documents-id
      x-content-type: application/json
      x-accepts: application/json
  /v1/core/legal_entities:
    get:
      description: Get a collection of Legal Entities
      operationId: LegalEntity_listLegalEntities
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalEntityListLegalEntitiesResponse'
          description: OK
      security:
      - apikey: []
      summary: Get a collection of Legal Entities
      tags:
      - LegalEntity
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-core-legal_entities
      x-accepts: application/json
  /v1/core/legal_entities/{id}:
    get:
      description: Get a Legal Entity by ID
      operationId: LegalEntity_getById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalEntity'
          description: OK
      security:
      - apikey: []
      summary: Get a Legal Entity by ID
      tags:
      - LegalEntity
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-core-legal_entities-id
      x-accepts: application/json
  /v1/core/keys:
    get:
      description: Get a collection of Keys
      operationId: Key_getCollection
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyGetCollectionResponse'
          description: OK
      security:
      - apikey: []
      summary: Get a collection of Keys
      tags:
      - Key
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-core-keys
      x-accepts: application/json
    post:
      description: Create a Key
      operationId: Key_createNew
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyCreateNewRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreate'
          description: Created
      security:
      - apikey: []
      summary: Create a Key
      tags:
      - Key
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-core-keys
      x-content-type: application/json
      x-accepts: application/json
  /v1/core/keys/{id}:
    delete:
      description: Delete an API Key by ID
      operationId: Key_deleteById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: OK
      security:
      - apikey: []
      summary: Delete an API Key by ID
      tags:
      - Key
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-core-keys-id
      x-accepts: application/json
  /v1/core/tasks:
    get:
      description: Get Tasks
      operationId: Task_getAllTasks
      parameters:
      - description: Retrieves the list of tasks by assignee
        example: 3
        explode: true
        in: query
        name: assignee_id
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskGetAllTasksResponse'
          description: OK
      security:
      - apikey: []
      summary: Get Tasks
      tags:
      - Task
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-core-tasks
      x-accepts: application/json
    post:
      description: Create a Task
      operationId: Task_createNewTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreateNewTaskRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Created
      security:
      - apikey: []
      summary: Create a Task
      tags:
      - Task
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-core-tasks
      x-content-type: application/json
      x-accepts: application/json
  /v1/core/tasks/{id}:
    delete:
      description: Delete a Task by ID
      operationId: Task_deleteById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: OK
      security:
      - apikey: []
      summary: Delete a Task by ID
      tags:
      - Task
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-core-tasks-id
      x-accepts: application/json
    get:
      description: Get a Task by ID
      operationId: Task_getById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: OK
      security:
      - apikey: []
      summary: Get a Task by ID
      tags:
      - Task
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-core-tasks-id
      x-accepts: application/json
    put:
      description: Update a Task by ID
      operationId: Task_updateById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdateByIdRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: OK
      security:
      - apikey: []
      summary: Update a Task by ID
      tags:
      - Task
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-core-tasks-id
      x-content-type: application/json
      x-accepts: application/json
  /v1/core/tasks/{id}/resolve:
    post:
      description: Resolve Task by ID
      operationId: Task_resolveById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskResolveByIdRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: OK
      security:
      - apikey: []
      summary: Resolve Task by ID
      tags:
      - Task
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-core-tasks-id-resolve
      x-content-type: application/json
      x-accepts: application/json
  /v1/core/tasks/{id}/copy:
    post:
      description: Copy Task by ID
      operationId: Task_copyById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCopyByIdRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: OK
      security:
      - apikey: []
      summary: Copy Task by ID
      tags:
      - Task
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-core-tasks-id-copy
      x-content-type: application/json
      x-accepts: application/json
  /v1/core/tasks/{id}/files:
    get:
      description: Get files from a Task
      operationId: Task_getFiles
      parameters:
      - description: (Required)
        example: 15
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 15
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskFile'
          description: OK
      security:
      - apikey: []
      summary: Get files from a Task
      tags:
      - Task
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-core-tasks-id-files
      x-accepts: application/json
    post:
      description: Create a File in a Task
      operationId: Task_addFileToTask
      parameters:
      - description: (Required)
        example: 15
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 15
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskAddFileToTaskRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: OK
      security:
      - apikey: []
      summary: Create a File in a Task
      tags:
      - Task
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-core-tasks-id-files
      x-content-type: application/json
      x-accepts: application/json
  /v1/core/tasks/{task_id}/files/{id}:
    get:
      description: Get files from one Task
      operationId: Task_getFile
      parameters:
      - description: (Required)
        example: 15
        explode: false
        in: path
        name: task_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 15
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskFile'
          description: OK
      security:
      - apikey: []
      summary: Get a file from one Task
      tags:
      - Task
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-core-tasks-task_id-files-id
      x-accepts: application/json
    post:
      description: Delete a File in a Task
      operationId: Task_deleteFileInTask
      parameters:
      - description: (Required)
        example: 15
        explode: false
        in: path
        name: task_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 15
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskFile'
          description: OK
      security:
      - apikey: []
      summary: Delete a File in a Task
      tags:
      - Task
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-core-tasks-task_id-files-id
      x-accepts: application/json
  /v1/time/shifts:
    get:
      description: Get shifts (time registries) from a company
      operationId: Shift_getFromCompany
      parameters:
      - description: It should be valid year in the format `YYYY`
        example: "2022"
        explode: true
        in: query
        name: year
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: "2022"
      - description: It should be valid month in the calendar ranging rom `01 to 12`.
          The month format is `MM`
        example: "11"
        explode: true
        in: query
        name: month
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: "11"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShiftGetFromCompanyResponse'
          description: OK
      security:
      - apikey: []
      summary: Get shifts (time registries) from a company
      tags:
      - Shift
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-time-shifts
      x-accepts: application/json
  /v1/time/shifts/clock_in:
    post:
      description: Creates a shift (time registry) for the current user with the clock_in
        time of the request and nil clock_out
      operationId: Shift_createClockInShift
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShiftCreateClockInShiftRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shift'
          description: Created
      security:
      - apikey: []
      summary: Clock in
      tags:
      - Shift
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-time-shifts-clock_in
      x-content-type: application/json
      x-accepts: application/json
  /v1/time/shifts/clock_out:
    post:
      description: Updates a shift (time registry) for the current user with the clock_out
        time of the request. It will fail if the user wasn't previously clocked in.
      operationId: Shift_updateClockOutShift
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShiftUpdateClockOutShiftRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shift'
          description: Created
      security:
      - apikey: []
      summary: Clock out
      tags:
      - Shift
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-time-shifts-clock_out
      x-content-type: application/json
      x-accepts: application/json
  /v1/time/shifts/toggle:
    post:
      description: Updates a shift (time registry) for the current user with the time
        of the request. It will clock out if the user wasn't previously clocked in.
        Else it will clock in.
      operationId: Shift_toggleShiftStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShiftToggleShiftStatusRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shift'
          description: Created
      security:
      - apikey: []
      summary: Toggle
      tags:
      - Shift
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-time-shifts-toggle
      x-content-type: application/json
      x-accepts: application/json
  /v1/time/shifts/{id}:
    delete:
      description: Delete Shift (time registry)
      operationId: Shift_deleteShiftById
      parameters:
      - description: (Required)
        example: 5
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 5
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shift'
          description: OK
      security:
      - apikey: []
      summary: Delete Shift (time registry)
      tags:
      - Shift
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-time-shifts-id
      x-accepts: application/json
    put:
      description: Updates a shift (time registry).
      operationId: Shift_updateShift
      parameters:
      - description: (Required)
        example: 5
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShiftUpdateShiftRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shift'
          description: Created
      security:
      - apikey: []
      summary: Update Shift (time registry)
      tags:
      - Shift
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-time-shifts-id
      x-content-type: application/json
      x-accepts: application/json
  /v2/time/attendance:
    get:
      description: Get attendance from a company
      operationId: Attendance_getCompanyAttendance
      parameters:
      - description: Employees id array
        example:
        - 1
        explode: true
        in: query
        name: "employee_ids[]"
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
        x-konfig-original-example:
        - 1
      - description: It should be a valid date following the format YYYY-MM-DD
        example: 2023-01-03
        explode: true
        in: query
        name: date_from
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 2023-01-03
      - description: It should be a valid date following the format YYYY-MM-DD
        example: 2023-01-04
        explode: true
        in: query
        name: date_to
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 2023-01-04
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendanceGetCompanyAttendanceResponse'
          description: OK
      security:
      - apikey: []
      summary: Get attendance from a company
      tags:
      - Attendance
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-time-attendance
      x-accepts: application/json
    post:
      description: Creates Attendance
      operationId: Attendance_createNew
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendanceCreateNewRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attendance'
          description: Created
      security:
      - apikey: []
      summary: Create Attendance
      tags:
      - Attendance
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-time-attendance
      x-content-type: application/json
      x-accepts: application/json
  /v1/time/leave_types:
    get:
      description: Get Leave types from a company
      operationId: Leave_getTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveGetTypesResponse'
          description: OK
      security:
      - apikey: []
      summary: Get Leave types
      tags:
      - Leave
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-time-leave_types
      x-accepts: application/json
    post:
      description: Create a Leave Type
      operationId: Leave_typeCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveTypeCreateRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveType'
          description: Created
      security:
      - apikey: []
      summary: Create a Leave Type
      tags:
      - Leave
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-time-leave_types
      x-content-type: application/json
      x-accepts: application/json
  /v1/time/leave_types/{id}:
    put:
      description: Update a Leave Type
      operationId: Leave_updateType
      parameters:
      - description: (Required)
        example: 5
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveUpdateTypeRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveType'
          description: Created
      security:
      - apikey: []
      summary: Update a Leave Type
      tags:
      - Leave
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-time-leave_types-id
      x-content-type: application/json
      x-accepts: application/json
  /v1/time/leaves:
    get:
      description: Get Leaves from a company
      operationId: Leave_getCompanyLeaves
      parameters:
      - description: Employees id array
        example:
        - 1
        explode: true
        in: query
        name: "employee_ids[]"
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
        x-konfig-original-example:
        - 1
      - description: Leave type id array
        example:
        - 1
        explode: true
        in: query
        name: "leave_type_ids[]"
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
        x-konfig-original-example:
        - 1
      - description: It should be a valid date following the format YYYY-MM-DD
        example: 2023-01-03
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 2023-01-03
      - description: It should be a valid date following the format YYYY-MM-DD
        example: 2023-01-04
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 2023-01-04
      - description: Include leave type name
        explode: true
        in: query
        name: include_leave_type
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-time-leaves-get-parameters-4-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveGetCompanyLeavesResponse'
          description: OK
      security:
      - apikey: []
      summary: Get Leaves
      tags:
      - Leave
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-time-leaves
      x-accepts: application/json
    post:
      description: Creates a Leave
      operationId: Leave_createNewLeave
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveCreateNewLeaveRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leave'
          description: Created
      security:
      - apikey: []
      summary: Create a Leave
      tags:
      - Leave
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-time-leaves
      x-content-type: application/json
      x-accepts: application/json
  /v1/time/leaves/{id}:
    delete:
      description: Delete a Leave by ID
      operationId: Leave_deleteById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leave'
          description: OK
      security:
      - apikey: []
      summary: Delete a Leave by ID
      tags:
      - Leave
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-time-leaves-id
      x-accepts: application/json
    get:
      description: Get a Leave by ID
      operationId: Leave_getById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leave'
          description: OK
      security:
      - apikey: []
      summary: Get a Leave by ID
      tags:
      - Leave
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-time-leaves-id
      x-accepts: application/json
    put:
      description: Update a Leave
      operationId: Leave_updateLeaveById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveUpdateLeaveByIdRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leave'
          description: OK
      security:
      - apikey: []
      summary: Update a Leave
      tags:
      - Leave
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-time-leaves-id
      x-content-type: application/json
      x-accepts: application/json
  /v2/time/leaves:
    get:
      description: Get Leaves from a company
      operationId: Leave_getCompanyLeaves
      parameters:
      - description: Employees id array
        example:
        - 1
        explode: true
        in: query
        name: "employee_ids[]"
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
        x-konfig-original-example:
        - 1
      - description: Leave type id array
        example:
        - 1
        explode: true
        in: query
        name: "leave_type_ids[]"
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
        x-konfig-original-example:
        - 1
      - description: It should be a valid date following the format YYYY-MM-DD
        example: 2023-01-03
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 2023-01-03
      - description: It should be a valid date following the format YYYY-MM-DD
        example: 2023-01-04
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 2023-01-04
      - description: Include leave type name
        explode: true
        in: query
        name: include_leave_type
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-time-leaves-get-parameters-4-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveGetCompanyLeaves200Response'
          description: OK
      security:
      - apikey: []
      summary: Get Leaves
      tags:
      - Leave
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-time-leaves
      x-accepts: application/json
    post:
      description: Creates a Leave
      operationId: Leave_createNewLeave
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveCreateNewLeaveRequest1'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leave'
          description: Created
      security:
      - apikey: []
      summary: Create a Leave
      tags:
      - Leave
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-time-leaves
      x-content-type: application/json
      x-accepts: application/json
  /v2/time/leaves/{id}:
    delete:
      description: Delete a Leave by ID
      operationId: Leave_deleteById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leave_v2'
          description: OK
      security:
      - apikey: []
      summary: Delete a Leave by ID
      tags:
      - Leave
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v2-time-leaves-id
      x-accepts: application/json
    get:
      description: Get a Leave by ID
      operationId: Leave_getById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leave_v2'
          description: OK
      security:
      - apikey: []
      summary: Get a Leave by ID
      tags:
      - Leave
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-time-leaves-id
      x-accepts: application/json
    put:
      description: Update a Leave
      operationId: Leave_updateById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveUpdateByIdRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leave_v2'
          description: OK
      security:
      - apikey: []
      summary: Update a Leave
      tags:
      - Leave
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v2-time-leaves-id
      x-content-type: application/json
      x-accepts: application/json
  /v1/payroll/family_situation:
    get:
      description: Get all family situations - only FR employees
      operationId: Employee_listFamilySituations
      parameters:
      - description: Get all family situations given an employee
        example: 3
        explode: true
        in: query
        name: employee_id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeListFamilySituationsResponse'
          description: OK
      security:
      - apikey: []
      summary: Get all family situations - only FR employees
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-payroll-family_situation
      x-accepts: application/json
    post:
      description: Create a Family Situation
      operationId: FamilySituation_createNew
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FamilySituationCreateNewRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FamilySituation'
          description: Created
      security:
      - apikey: []
      summary: Create a Family Situation
      tags:
      - FamilySituation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-payroll-family_situation
      x-content-type: application/json
      x-accepts: application/json
  /v1/payroll/family_situation/{id}:
    put:
      description: Update a Family Situation
      operationId: FamilySituation_updateFamilySituation
      parameters:
      - description: (Required)
        example: 3
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FamilySituationUpdateFamilySituationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FamilySituation'
          description: OK
      security:
      - apikey: []
      summary: Update a Family Situation
      tags:
      - FamilySituation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-payroll-family_situation-id
      x-content-type: application/json
      x-accepts: application/json
  /v1/custom_fields:
    get:
      description: |-
        This endpoint allows you to fetch a collection of custom fields. The fields you receive in the response are governed by the `field_group` you supply in the body of your request.
        For now, there are 2 acceptable field groups:

         - `employees-questions` which refers to fields relating to an employee

         - `time-tracking-projects` which refers to fields relating to time tracking data

         - `contract-versions` which refers to fields relating to employee contract versions
      operationId: CustomField_getFieldsByGroup
      parameters:
      - description: "Available options: employees-questions (Employee's fields) time-tracking-projects\
          \ (Shift's project)' contract-versions (Contract versions)'"
        example: employees-questions
        explode: true
        in: query
        name: field_group
        required: true
        schema:
          type: string
        style: form
        x-konfig-original-example: employees-questions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldGetFieldsByGroupResponse'
          description: OK
      summary: Get Custom Fields
      tags:
      - CustomField
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-custom_fields
      x-accepts: application/json
  /v1/custom_fields/values:
    get:
      description: "Given a custom field, get the value for a specific instance"
      operationId: CustomFieldValue_getInstanceValue
      parameters:
      - example: 1
        explode: true
        in: query
        name: field_id
        required: true
        schema:
          description: Field Id
          type: integer
        style: form
        x-konfig-original-example: 1
      - example: 23
        explode: true
        in: query
        name: instance_id
        required: true
        schema:
          description: Id of the model instance associated to the field
          type: integer
        style: form
        x-konfig-original-example: 23
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomValue'
          description: OK
      summary: "Given a custom field, get the value for a specific instance"
      tags:
      - CustomFieldValue
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-custom_fields-values
      x-accepts: application/json
    post:
      description: |-
        As described, a `Custom Field Value` can be thought of as an answer/response to a `Custom Field` these answers/responses belong to the entity that inputed the values e.g. an employee who answered the t-shirt size question by filling it out in their factorial dashboard.
        This endpoint allows you to create values for custom fields. It requires an `instance_id` which refers to the `id` of the entity that owns this `Custom Value` e.g. an Employee for which the `employee_id` will correspond to the `instance_id`. It also requires a `field_id` to reference the `Custom Field` which this value is related to.
        You can think of `Custom Fields` and `Custom Values` as questions and answers.
      operationId: CustomFieldValue_createCustomValue
      parameters:
      - example: 1
        explode: true
        in: query
        name: field_id
        required: true
        schema:
          description: The id of the field this value belongs to
          type: integer
        style: form
        x-konfig-original-example: 1
      - example: 23
        explode: true
        in: query
        name: instance_id
        required: true
        schema:
          description: The id of the entity that 'created' this value e.g. an employee
            who fills out the answer to a question
          type: integer
        style: form
        x-konfig-original-example: 23
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldValueCreateCustomValueRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomValue'
          description: OK
      summary: Create a value for a custom field
      tags:
      - CustomFieldValue
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-custom_fields-values
      x-content-type: application/json
      x-accepts: application/json
  /v1/posts:
    get:
      description: This endpoint allows you to fetch a collection of posts.
      operationId: Post_listPosts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostListPostsResponse'
          description: OK
        "500":
          description: Internal Server Error
      security:
      - apikey: []
      summary: Get Posts
      tags:
      - Post
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-posts
      x-accepts: application/json
    post:
      description: Create a Post
      operationId: Post_createNewPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCreateNewPostRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCreateNewPostResponse'
          description: OK
      security:
      - apikey: []
      summary: Create a Post
      tags:
      - Post
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-posts
      x-content-type: application/json
      x-accepts: application/json
  /v1/posts/{id}:
    delete:
      operationId: Post_removePost
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
          description: OK
      summary: Delete Post
      tags:
      - Post
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-posts-id
      x-accepts: application/json
    get:
      operationId: Post_getById
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
          description: OK
      summary: Get Post
      tags:
      - Post
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-posts-id
      x-accepts: application/json
    put:
      description: Create a Post
      operationId: Post_updateExistingPost
      parameters:
      - description: (Required)
        example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostUpdateExistingPostRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostUpdateExistingPostResponse'
          description: OK
      security:
      - apikey: []
      summary: Create a Post
      tags:
      - Post
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /v1/ats/job_postings:
    get:
      description: "This endpoint allows fetching all available Ats Job Postings,\
        \ scoped to the user credentials and company of that user."
      operationId: Post_getAllPostings
      parameters:
      - description: Job posting status
        example: 3
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - draft
          - published
          - unlisted
          - archived
          - cancelled
          type: string
        style: form
        x-konfig-original-example: 3
      - description: An id of any teams that the ats company has in Factorial
        example: 3
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 3
      - description: An id of any location associated with the ats company in Factorial
        example: 1
        explode: true
        in: query
        name: location_id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 1
      - description: An id of any legal entity associated with the company in Factorial
        example: 1
        explode: true
        in: query
        name: legal_entity_id
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostGetAllPostingsResponse'
          description: OK
      security:
      - apikey: []
      summary: Get all job postings
      tags:
      - Post
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-ats-job_postings
      x-accepts: application/json
    post:
      description: This endpoint allows you create and store Ats Job Postings in Factorial.
      operationId: Post_atsJobPosting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAtsJobPostingRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsJobPosting'
          description: Created
      security:
      - apikey: []
      summary: Create a Job Posting
      tags:
      - Post
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-ats-job_postings
      x-content-type: application/json
      x-accepts: application/json
  /v1/ats/job_postings/{id}:
    delete:
      description: Deletes an existing job posting
      operationId: Post_removeJobPosting
      parameters:
      - description: (Required)
        example: 3
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsJobPosting'
          description: OK
      security:
      - apikey: []
      summary: Delete a Job Posting
      tags:
      - Post
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-ats-job_postings-id
      x-accepts: application/json
    put:
      description: Update a Job Posting
      operationId: Post_jobPostingUpdate
      parameters:
      - description: (Required)
        example: 3
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostJobPostingUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsJobPosting'
          description: OK
      security:
      - apikey: []
      summary: Update a Job Posting
      tags:
      - Post
      x-konfig-operation-can-have-single-parameter: true
[...]
